body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    margin: 0;
    padding-top: 40px;

    align-items: center;

    background: radial-gradient(
        circle at top,
        #15203c 0%,
        #0f172a 55%,
        #050812 100%
    );

    font-family: system-ui, sans-serif;
}
main {
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header, p {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
    opacity: 0.8;
}

button, select {
    margin-left: 20px;
    background-color: #1e40af;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    

}
button:hover {
    background-color: #2563eb;
}
.contenedorBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.contenedorBTN p {
    margin: 0;
    font-weight: 600;
    color: white;
}
.caja{
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 8px;
    display: flex;
    width: 100%;
    height: 300px;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-end;
}
.textCaja{
    background-color: rgba(66, 64, 64, 0.5);
    width: 100%;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}
.contenedorPrincipal{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6993ec;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2EM;
    font-weight: 600;
    font-family: system-ui;
}

footer {
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;
    text-align: down;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 0.95rem;
    opacity: 0.8;
    backdrop-filter: blur(4px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer p {
    margin: 0;
}